In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
store = pd.read_csv('CAstore.csv')
store

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명_구,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,폐업_률
0,2021_2,U,관광특구,1001496,강남구,강남 마이스 관광특구,CS300043,전자상거래업,8,8,0
1,2021_2,U,관광특구,1001496,강남구,강남 마이스 관광특구,CS300042,주유소,1,1,0
2,2021_2,U,관광특구,1001496,강남구,강남 마이스 관광특구,CS300041,예술품,9,9,0
3,2021_2,U,관광특구,1001496,강남구,강남 마이스 관광특구,CS300040,재생용품 판매점,0,0,0
4,2021_2,U,관광특구,1001496,강남구,강남 마이스 관광특구,CS300038,자동차부품,10,10,0
...,...,...,...,...,...,...,...,...,...,...,...
555236,2020_1,A,골목상권,1000001,종로구,계동길,CS100005,제과점,2,4,0
555237,2020_1,A,골목상권,1000001,종로구,계동길,CS100004,양식음식점,3,3,0
555238,2020_1,A,골목상권,1000001,종로구,계동길,CS100003,일식음식점,3,3,0
555239,2020_1,A,골목상권,1000001,종로구,계동길,CS100002,중식음식점,0,1,0
555240,2020_1,A,골목상권,1000001,종로구,계동길,CS100001,한식음식점,19,19,5

In [3]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555241 entries, 0 to 555240
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_년_코드      555241 non-null  object
 1   상권_구분_코드     555241 non-null  object
 2   상권_구분_코드_명   555241 non-null  object
 3   상권_코드        555241 non-null  int64
 4   상권_코드_명_구    554877 non-null  object
 5   상권_코드_명      555241 non-null  object
 6   서비스_업종_코드    555241 non-null  object
 7   서비스_업종_코드_명  555241 non-null  object
 8   점포_수         555241 non-null  int64
 9   유사_업종_점포_수   555241 non-null  int64
 10  폐업_률         555241 non-null  int64
dtypes: int64(4), object(7)
memory usage: 46.6+ MB

In [4]:
store.isna().sum()

기준_년_코드          0
상권_구분_코드         0
상권_구분_코드_명       0
상권_코드            0
상권_코드_명_구      364
상권_코드_명          0
서비스_업종_코드        0
서비스_업종_코드_명      0
점포_수             0
유사_업종_점포_수       0
폐업_률             0
dtype: int64

In [5]:
st = store.loc[:,'서비스_업종_코드':'서비스_업종_코드_명']
service_type = pd.DataFrame(st)
service_type.loc[:,'count'] = 1
stcount = service_type.groupby(['서비스_업종_코드_명', '서비스_업종_코드']).count()
stcount.reset_index(level=['서비스_업종_코드_명','서비스_업종_코드'], inplace=True)
stcount

   서비스_업종_코드_명 서비스_업종_코드  count
0         DVD방  CS200039   1599
1          PC방  CS200019   6101
2           가구  CS300031   7168
3           가방  CS300015   5762
4         가전제품  CS300032   8171
..         ...       ...    ...
95         핸드폰  CS300004   7822
96     호프-간이주점  CS100009   8650
97         화장품  CS300022   8766
98          화초  CS300028   7506
99      회계사사무소  CS200014   1950

[100 rows x 3 columns]

In [6]:
#서비스업종코드 개수 = 서비스업종명 개수 = 100개
#입력: 서비스업종명
#출력 1: 해당 서비스업종이 밀집된 상권코드명(top5) + 유사업종 점포 수 + 해당 업종 폐업률 + (추가데이터)생활인구 남/여 & 연령별 그래프
#출력 2: 해당 서비스업종이 부족한 상권코드명(top5) + 유사업종 점포 수 + 해당 업종 폐업률 + (추가데이터)생활인구 남/여 & 연령별 그래프

#연도별 구분을 어떻게 할지?! - 연도, 분기, 서비스업종 별로 groupby 후 출력에서 연도별 시계열 인사이트 제시?
# -> 인풋 받으면 그거에서 새로 데이터프레임 만들어야 할 듯

In [7]:
#입력 값 예시
ex = '주유소'
ex_code = stcount.loc[stcount['서비스_업종_코드_명'] == ex].iloc[0,1]
ex_code

'CS300042'

In [8]:
#입력 값 예시 -> 해당 업종의 2021년 2분기 기준 점포 수 top5
ex_df = store.loc[store['서비스_업종_코드_명'] == ex].loc[store['기준_년_코드'] == '2021_2']
ex_df = ex_df.sort_values('유사_업종_점포_수', axis=0, ascending=False)
ex_top5 = ex_df.iloc[0:5,:]
ex_top5

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명_구,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,폐업_률
50124,2021_2,A,골목상권,1000696,영등포구,대림로44길,CS300042,주유소,9,9,0
60341,2021_2,A,골목상권,1000532,양천구,신목로5길,CS300042,주유소,7,7,0
60826,2021_2,A,골목상권,1000524,양천구,목동중앙로13나길,CS300042,주유소,6,6,0
37162,2021_2,A,골목상권,1000904,강남구,도곡로37길,CS300042,주유소,6,6,0
40584,2021_2,A,골목상권,1000854,서초구,동광로1길,CS300042,주유소,6,6,0

In [9]:
#입력 값 예시 -> 해당 업종의 2021년 2분기 기준 점포 수 low5
ex_low5 = ex_df.iloc[-100:-1,:]
ex_low5

#문제 -> 해당 지역에 점포 수가 0인 상권이 너무 많음
#사용자의 근처로 출력해주면 좋은데 상권 코드가 너무 다양해서 근처를 알 수 없을 듯

,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명_구,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,폐업_률
67607,2021_2,A,골목상권,1000416,은평구,은평로8길,CS300042,주유소,0,0,0
14926,2021_2,D,발달상권,1001208,중구,서울 중구 을지로3가역_2,CS300042,주유소,0,0,0
14848,2021_2,D,발달상권,1001209,중구,서울시청,CS300042,주유소,0,0,0
82817,2021_2,A,골목상권,1000164,광진구,자양번영로3길,CS300042,주유소,0,0,0
14557,2021_2,D,발달상권,1001213,종로구,종각역 젊음의 거리,CS300042,주유소,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
26942,2021_2,D,발달상권,1001047,서초구,뱅뱅사거리_1,CS300042,주유소,0,0,0
57389,2021_2,A,골목상권,1000579,강서구,공항대로61길,CS300042,주유소,0,0,0
25911,2021_2,D,발달상권,1001061,서초구,방배동카페골목,CS300042,주유소,0,0,0
25735,2021_2,D,발달상권,1001063,서초구,교대역_4,CS300042,주유소,0,0,0
25517,2021_2,D,발달상권,1001066,강남구,서울 강남구 강남역,CS300042,주유소,0,0,0

In [62]:
#top5에 대해 점포수의 시계열 변화 나타내기
ex_top5_list = ex_top5.iloc[:, 6]
ex_top5_list.tolist()

#문제 -> 기준년코드와 기준분기코드를 하나로 합쳐야 시계열 분석이 편할 것 같음 -> 전처리 과정을 다시 손 대야 할 듯...
#엑셀에서 전처리로 바꾸고 옴 히힛

#시각화부터 시작하면 됨

['대림로44길', '신목로5길', '목동중앙로13나길', '도곡로37길', '동광로1길']

In [ ]:
#stq = input('상권분석을 원하는 업종명을 입력하세요: ')
#stq_code = stcount.loc[stcount['서비스_업종_코드_명'] == stq].iloc[0,1]
#stq_df = store.loc[store['서비스_업종_코드_명'] == stq]